@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    header {
        display: none !important;
    }

    body {
        overflow: scroll;
    }

    section,
    #aboutMe,
    #Skills,
    #Projects,
    #Contacts {
        margin: 0;
        padding: 0 1rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #aboutMe {
        align-items: center !important;

        h1 {
            font-size: 2rem !important;
        }

        p {
            font-size: 1rem !important;
        }

        .presentation {
            justify-content: center !important;
        }

        .btns {
            margin: 0 !important;
            bottom: 10vh !important;
        }
    }
}